.All {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.header {
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
    padding-bottom: 150px;
}
.Container1 {
    
    justify-content: space-between;
     border: none;
     display:flex;
     padding-bottom: 70px;
}
.Container1,
.right-items {
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 70px;
    font-family: 'Courier New', Courier, monospace;
}
.logo {
    align-self: flex-start;
    display: flex;
    font-size: 36px;
    color: #F9FAF8;
    margin-left:36px;
    margin-top: 19px;
    font: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;

}

.Container2 {
    
display: flex;
justify-content: space-between;
align-self: center;
margin: 48px;
}
.img {
    height: 200px;
    width: auto;
    align-self: flex-end;
    height: 300px;
    width: 700px;
    border: solid #F9FAF8;
    border-radius: 10%;
}
.P1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Courier New', Courier, monospace;
}
H2 {
    font-size: 28px;
    color:#1F2937;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    margin:100px;
}

.Container3 {
    display: flex;
    background-color: #E5E7EB;
    justify-content: space-around;

}

.content {
    height: 200px;
    width: 200px;
    align-self: center;
    margin: 28px;
    border-radius: 12%;
    border: solid rgb(52, 81, 99);
}

.P2 {
    font-size: 24px;
    margin-left: 300px;
    margin-right: 300px;
    font-style:Italic;
    color: #E5E7EB;

}
.Container4 {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.H3 {
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    color: #1F2937;
    align-self: flex-end;
    margin-right:100px;
    }

.Container5 {
    background-color: #E5E7EB;
    padding: 200px;
    display:flex;
    flex-direction: column;
    
}  
h3 {
    font-size: 36px;
    color: #1F2937;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.LastDiv {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: rgb(38, 157, 197);
    padding: 45px;
    border-radius: 2em;


}
button{
    border: 2px solid #E5E7EB;
    border-radius: 2em;
    background-color:rgb(38, 157, 197);
    width: 100px;
    height: 50px;
  color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

label{
    font-size: 36px;
    color: #1F2937;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}